@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.contacto {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #f2f4f4;
  width: 100%;

    .contactoMargenes{
        width: 94%;
    margin: auto;

    }

    h2{
      text-align: left;
      font-size: 4rem;
      color: #0a1944;
  }

  button {
    background: #141e2e;
    color: white;
    border: none;
    padding: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    width: 140px;
    font-size: 1.3rem;
    font-weight:bold;
  }

  button:hover {
    opacity: 0.9;
    background-color: burlywood;
  }

  h3{
    display: inline-block;
    padding: 0.2rem 0;
    margin-top: 1rem;
    font-size: 1.7rem;
    color: #0a1944;
    border-bottom: solid 3px #c59668;
  }
.certi{
  margin-top: 10px;
  font-size: 1.7rem;
  margin-bottom: 6rem;
}


.formContainer {
    //background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.info {
  //background: white;
  width: 50%;
  padding-left: 2rem;
  border-radius: 10px;
  //box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: left;

  .logo {
  border-radius: 6px;
  display: flex;
  justify-content: left;
  align-items: left;
  overflow: hidden;
  min-width: 200px;
  margin-left: -2rem;
  
    img{
      width: 50%;
    }
  }
}

.datos{
  //background-color: burlywood;
  display: grid;
  align-items: end;
  p{
    font-size: 1.2rem;
    padding-top: 10px;
  }
}

p{
  font-weight: 500;
}
}

